{% extends "base.html" %}
{% load  static %}
{% block content%}
<section class="cont">
<div class="container">
  <div class="container d-flex justify-content-center d-flex align-items-center" style="margin-top:2%;">
    <div class="row">
      <div class="col-12 col-sm-6 ">
          <img src="{% static 'images/motaut.jpg' %}" width = "100%" height = "80%" alt="" >
      </div>
      <div class="col-12 col-sm-2 ">
      </div>
      <div class="col-11 col-sm-4 ">
        <img class="logo-rev" src="{% static 'images/logo_and_text.svg' %}" width = "100%" height = "100%"  alt="" > 
      </div>
    </div>
  </div>
  <div class= "container">
    <section class="card-motos">
      <h2 class="search">Buscar autos por marca <button type="button" class="btn btn-primary">Renta el tuyo</button></h2>
      <div class="card-group">
        <div class="card">
          <img src="{% static 'images/renault.jpeg' %}" class="card-img-top" height = "222" alt="...">
            <div class="card-body">
               <h2 class="card-title">Renault<button type="button" class="btn btn-dark">Ver disponibilidad</button></h2>
      
            </div>
        </div>
        <div class="card">
          <img src="{% static 'images/honda.jpg' %}" class="card-img-top" height = "222" alt="...">
            <div class="card-body">
   
              <h2 class="card-title">Honda<button type="button" class="btn btn-dark">Ver disponibilidad</button></h2>
            </div>
        </div>
        <div class="card">
           <img src="{% static 'images/nissan2.jpg' %}" class="card-img-top" height = "222"alt="...">
            <div class="card-body">
              <h2 class="card-title">Nissan<button type="button" class="btn btn-dark">Ver disponibilidad</button></h2>
            </div>
        </div>
      </div>
    </section> 
    <section class="card-motos">
<h2 class="search">  Buscar motos por marca <button type="button" class="btn btn-primary">Renta la tuya</button></h2>
<div class="card-group">
  <div class="card">
    <img src="{% static 'images/suzuki.jpg' %}" class="card-img-top" height = "300"alt="...">
    <div class="card-body">
      <h2 class="card-title">Suzuki<button type="button" class="btn btn-dark">Ver disponibilidad</button></h2>
      
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/Honda-moto.jpg' %}" class="card-img-top" height = "300" alt="...">
    <div class="card-body">
    
      <h2 class="card-title">Honda<button type="button" class="btn btn-dark">Ver disponibilidad</button></h2>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/italika2.png' %}" class="card-img-top" height = "300"alt="...">
    <div class="card-body">
     
      <h2 class="card-title">Italika<button type="button" class="btn btn-dark">Ver disponibilidad</button></h2>
    </div>
  </div>
</div>
</section> 
 <div class="container my-5">

  <footer class="bg-primary text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="{% static 'images/logo_and_text.svg' %}" height="30" alt=""
                 loading="lazy" />
          </div>

          <p class="text-center">Renta de Autos y Marcas desde $699 pesos</p>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-white ps-2" href="#!">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Autos</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Requisitos para rentar</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Talleres</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Renta el tuyo</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Terminos y condiciones</a>
            </li>
        
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Motos</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Requisitos para rentar</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Talleres</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Renta la tuya</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Terminos y condiciones</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contacto</h5>

          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt pe-2"></i>Warsaw, 57 Street, Poland</p>
            </li>
            <li>
              <p><i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
            </li>
            <li>
              <p><i class="fas fa-envelope pe-2 mb-0"></i>contact@example.com</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
       2021 Revoluciones
      
    </div>
    <!-- Copyright -->
  </footer>

</div>
</section>
{% endblock %}